@model MVC5Course.Models.Course

@{
    ViewBag.Title = "Details";
    if (IsAjax)
    {
        Layout = "";
    }
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(m => m)</h4>
    <hr />

    @Html.DisplayForModel()

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
